<<<<<<< HEAD
header {
  height: 20vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}

@media only screen and (min-height: 400px) {
  header {
    height: 10vh;
  }
}

h1 {
  font-size: 1.5rem;
}
=======
header {
  background-size: cover;
  background-position: center;

}

@media (max-width: 768px) {
  header {
      background-size: contain; 
  }
}

h1 {
  font-size: 1.5rem;
}
>>>>>>> e6b539547a53cba9e96ad508ff8f36c25836bd4d
