<p-sidebar [(visible)]="visible" position="bottom">
    <div class="justify-content-center p-2">
      <div class="flex align-items-center justify-content-between  m-1">
        <button 
          pButton 
          icon="pi pi-users" 
          label="Usuarios"  
          severity="success" 
          [outlined]="true" 
          [rounded]="true"
          (click)="onUsersClick()"
          *ngIf="isLogged() && !isEjecutor()">
        </button>
        <button 
          pButton 
          icon="pi pi-face-smile" 
          label="Clientes" 
          severity="info" 
          [outlined]="true" 
          [rounded]="true" 
          (click)="onCliClick()"
          *ngIf="isLogged() && !isEjecutor()">
        </button>
        <button 
          pButton 
          icon="pi pi-list" 
          label="Actividades" 
          severity="warning" 
          [outlined]="true" 
          [rounded]="true" 
          (click)="onActClick()"
          *ngIf="isLogged() && !isEjecutor()">
        </button>
        <button 
          pButton 
          icon="pi pi-receipt" 
          label="Auditoría"  
          [outlined]="true" 
          [rounded]="true" 
          (click)="onAudClick()"
          *ngIf="isLogged() && !isEjecutor()">
        </button>
       
          <button class="p-d-flex p-jc-center p-ai-center"
            pButton 
            icon="pi pi-list" 
            label="Actividades" 
            severity="warning" 
            [outlined]="true" 
            [rounded]="true" 
            (click)="onActUsuClick()"
            *ngIf="isLogged() && isEjecutor()">
          </button>
      
      </div>
    </div>
  </p-sidebar>