<app-base>
    <div class="flex flex-wrap justify-content-center">
        <div class="flex flex-wrap justify-content-center mt-4  border-dashed border-primary-500 w-6 border-round-xl p-4">
            <p-image class="flex flex-wrap "
        src="../../../assets/images/lutherapia.png" 
        alt="Image" 
        width="300" />
            <div class="flex flex-wrap justify-content-center border-round-xl p-4">
                <p-image class="flex flex-wrap"
                src="../../../assets/images/inicio.jpg" 
                alt="ilustración del taller" 
                width="450" />
            </div>
          
          </div>
    </div>
</app-base>
