<p-card header="{{ titulo }}">
    <ng-template pTemplate="content">
        <div class="mb-4  flex  flex-wrap md:align-self-auto align-self-end flex align-items-end justify-content-end">
            <p-button
                class="accion"
                id="añadir"
                label="Añadir"
                icon="pi pi-plus"
                [rounded]="true"
                severity="info"
                (onClick)="nuevo()"
            ></p-button>
        </div>
        <p-table 
        [value]="clientes" 
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'max-width': '88rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        class="flex flex-wrap w-min md:w-max">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
                <tr (mouseover)="informacion(cliente)">
                    <td>{{ cliente.nombres }}</td>
                    <td>{{ cliente.apellidos }}</td>
                    <td>
                        <div class="inline-block vertical-align-middle">
                            <span class="ml-1 mt-1">{{ cliente.nombre }}</span>
                        </div>
                    </td>
                    <td>{{ cliente.email }}</td>
                    <td class="flex flex-wrap">
                        <p-button 
                            class="accion"
                            pRipple 
                            icon="pi pi-pen-to-square" 
                            class="mr-2" 
                            [rounded]="true" 
                            severity="primary"
                            (onClick)="editar()"
                        ></p-button>
                      
                        <p-button 
                        
                            class="accion"
                            pRipple 
                            class="mr-2" 
                            icon="pi pi-trash" 
                            severity="info"
                            [rounded]="true"
                            (click)="eliminar(cliente)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-card>

<app-register-cliente
[(visible)]="newRegiterVisible"
[accion]="accion"
[cliente]="clienteSeleccionado"
(refrescar)="llenarTabla()" ></app-register-cliente>

<app-editar-cliente
[(visible)]="newEditVisible"
[accion]="accion"
[cliente]="clienteSeleccionado"
(refrescar)="llenarTabla()"
></app-editar-cliente>


<p-toast />
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    label="Aceptar" 
                    [rounded]="true"
                    (click)="cd.accept()" 
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="Cancelar"
                    [outlined]="true" 
                    [rounded]="true"
                    (click)="cd.reject()" 
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>