<app-base>
    <div class="flex flex-draw justify-content-center">
        <div class="flex  mt-4  border-dashed border-primary-500 w-6 border-round-xl p-4">
            <p-image class="flex flex-draw w-6"
        src="../../../assets/images/lutherapia.png" 
        alt="Image" 
        width="300" />
            <div class="flex  border-round-xl p-4">
                <p-image class="flex  border-round-xl"
                src="../../../assets/images/inicio.jpg" 
                alt="ilustración del taller" 
                width="500" />
            </div>
          
          </div>
    </div>
</app-base>