main {
    height: 80vh;
    overflow: auto;
    position: fixed !important;
    width: 100%;
    background-color: #9ae0d9;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
  }

  @media only screen and (min-height: 400px) {
    .main {
      height: 60vh;
      top: 20vh;
      bottom: 20vh;
    }
  }
  