<p-dialog
  header="{{ accion }} Usuario"
  [(visible)]="visible"
  (onHide)="cerrar()"
  [modal]="true"
>
  <form [formGroup]="formEditarUsuario">
    <div class="input-container">
      <p-floatLabel class="p-2">
        <input 
        id="nombres" 
        pInputText 
        type="text" 
        formControlName="nombres" 
        autocomplete="off" />
        <label for="nombres">Nombre Completo</label>
      </p-floatLabel>
    </div>
    <div class="input-container">
      <p-floatLabel class="p-2">
        <input 
        id="apellidos" 
        pInputText 
        type="text" 
        formControlName="apellidos" 
        autocomplete="off" />
        <label for="apellidos">Apellido Completo</label>
      </p-floatLabel>
    </div>
    <div class="input-container">
      <p-floatLabel class="p-2">
        <input 
        id="email" 
        pInputText 
        type="email" 
        formControlName="email" 
        autocomplete="off" />
        <label for="email">Email</label>
      </p-floatLabel>
    </div>

    <div class="input-container">
      <label for="rol">Rol: </label>
      <p-dropdown
        id="rol"
        appendTo="body"
        placeholder="Seleccionar"
        [options]="roles"
        formControlName="rol"
      ></p-dropdown>
    </div>
    
      <!-- <div class="input-container">
        <label for="estados">Estado:</label>
        <p-dropdown
          id="estado"
          placeholder="Seleccionar"
          appendTo="body"
          [options]="estados"
          formControlName="estado"
        ></p-dropdown>
      </div> -->
  
    <div class="input-container">
      
      <p-fileUpload
        mode="advanced"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept="image/*"
        maxFileSize="1000000"
        (onUpload)="onUpload($event)"
        [auto]="true"
        chooseLabel="Foto"
      ></p-fileUpload>
    </div>
    <p-button 
    [rounded]="true"
    [label]="accion" 
    (onClick)="enviar()" />
  </form>
</p-dialog>
<p-toast></p-toast>