<p-dialog header="Crear Actividad" [(visible)]="displayDialog" (onHide)="closeDialog()" [modal]="true"
  class="flex justify-content-center flex-wrap min-w-min md:min-w-max">
  <div class="flex justify-content-center flex-wrap" autocomplete="off">
    <form autocomplete="off">
      <div class="input-container min-w-min md:min-w-max">
        <p-floatLabel class="m-2">
          <input id="descripcion" pInputText type="text" [(ngModel)]="actividad.descripcion" name="descripcion"
            autocomplete="off" />
          <label for="descripcion">Descripción</label>
        </p-floatLabel>
      </div>

      <div class="input-container min-w-min md:min-w-max">
        <p-floatLabel class="m-2">
          <input id="idCliente" pInputText type="number" [(ngModel)]="actividad.idCliente" name="idCliente"
            autocomplete="off" />
          <label for="idCliente">ID Cliente</label>
        </p-floatLabel>
      </div>

      <div class="input-container min-w-min md:min-w-max">
        <p-floatLabel class="m-2">
          <input id="idUsuarioActual" pInputText type="number" [(ngModel)]="actividad.idUsuarioActual"
            name="idUsuarioActual" autocomplete="off" />
          <label for="idUsuarioActual">ID Usuario Actual</label>
        </p-floatLabel>
      </div>

      <div class="input-container m-2 min-w-min md:min-w-max">
        <label for="prioridad">Prioridad: </label>
        <p-dropdown id="prioridad" appendTo="body" placeholder="Seleccionar" [options]="[
            { label: 'Baja', value: 'BAJA' },
            { label: 'Media', value: 'MEDIA' },
            { label: 'Alta', value: 'ALTA' }
          ]" [(ngModel)]="actividad.prioridad" name="prioridad"></p-dropdown>
      </div>

      <div class="input-container m-2 min-w-min md:min-w-max">
        <label for="estado">Estado: </label>
        <p-dropdown id="estado" appendTo="body" placeholder="Seleccionar" [options]="[
            { label: 'En Proceso', value: 'EN_PROCESO' },
            { label: 'Completada', value: 'COMPLETADA' },
            { label: 'Cancelada', value: 'CANCELADA' }
          ]" [(ngModel)]="actividad.estado" name="estado"></p-dropdown>
      </div>

      <div class="input-container min-w-min md:min-w-max">
        <p-floatLabel class="m-2">
          <input id="fechaInicio" pInputText type="date" [(ngModel)]="actividad.fechaInicio" name="fechaInicio"
            autocomplete="off" />
          <label for="fechaInicio">Fecha Inicio</label>
        </p-floatLabel>
      </div>

      <div class="input-container min-w-min md:min-w-max">
        <p-floatLabel class="m-2">
          <input id="fechaModificacion" pInputText type="date" [(ngModel)]="actividad.fechaModificacion"
            name="fechaModificacion" autocomplete="off" />
          <label for="fechaModificacion">Fecha Modificación</label>
        </p-floatLabel>
      </div>

      <p-button class="flex justify-content-center flex-wrap min-w-min md:min-w-max" rounded="true" label="Guardar"
        (click)="save()"></p-button>

      <p-button class="flex justify-content-center flex-wrap min-w-min md:min-w-max" rounded="true" label="Cancelar"
        (click)="cancel()"></p-button>
    </form>
  </div>
</p-dialog>

<p-toast></p-toast>
