
<p-card header="{{ titulo }}" class="w-auto	 md:min-w-max">
    <ng-template pTemplate="content">
        <div class="mb-4  flex  flex-wrap w-auto md:align-self-auto align-self-end flex align-items-end justify-content-end pl-3">
            <p-button
                class="accion"
                id="añadir"
                label="Añadir"
                icon="pi pi-plus"
                [rounded]="true"
                severity="info"
                (onClick)="nuevo()"
            ></p-button>
        </div>
        <p-table 
        [value]="usuarios" 
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '70rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        class="flex flex-wrap w-4 md:w-max">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombres" style="width:20%">
                        Nombres <p-sortIcon field="nombres" />
                    </th>
                    <th pSortableColumn="apellidos" style="width:20%">
                        Apellidos <p-sortIcon field="apellidos" />
                    </th>
                    <th pSortableColumn="foto" style="width:10%">
                        Foto <p-sortIcon field="foto" />
                    </th>
                    <th pSortableColumn="email" style="width:20%">
                        Email <p-sortIcon field="email" />
                    <th pSortableColumn="rol" style="width:10%">
                        Rol <p-sortIcon field="rol" />
                    <th pSortableColumn="estado" style="width:20%">
                        Estado <p-sortIcon field="estado" />
                    <th>Herramientas</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>{{ usuario.nombres }}</td>
                    <td>{{ usuario.apellidos }}</td>
                    <td>
                        <div class="inline-block vertical-align-middle">
                            <p-avatar 
                            [image]="usuario.foto" 
                            styleClass="mr-2" 
                            size="xlarge" 
                            shape="circle"> 
                            </p-avatar> 
                        </div>
                    </td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <p-tag 
                        [value]="usuario.rol" 
                        [severity]="getSeverityRol(usuario.rol)" 
                        [rounded]="true"
                        />
                    </td>
                    <td>
                        <p-tag 
                        [value]="usuario.estado" 
                        [severity]="getSeverityEstado(usuario.estado)" 
                        [rounded]="true"
                        />
                    </td>
                    
                    <td class="flex flex-wrap p-2">
                        <p-button 
                            class="accion"
                            pRipple 
                            icon="pi pi-pen-to-square" 
                            class="mr-2 pb-2 pt-4" 
                            [rounded]="true" 
                            severity="primary"
                            pTooltip="Editar"
                            (onClick)="editar(usuario)"
                        ></p-button>
                      
                        <p-button 
                            pRipple 
                            class="mr-2 pb-2 pt-4" 
                            icon="pi pi-trash" 
                            severity="info"
                            [rounded]="true"
                            pTooltip="Eliminar"
                            (click)="eliminar(usuario)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-card>

<app-register 
[(visible)]="newRegiterVisible"
[usuario]="usuarioSeleccionado"
[accion]="accion"
(refrescar)="llenarTabla()" >
</app-register>

<app-editar-usario
[(visible)]="newEditVisible"
[accion]="accion"
[usuario]="usuarioSeleccionado"
(refrescar)="llenarTabla()"
></app-editar-usario>

<p-toast />
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    label="Aceptar" 
                    [rounded]="true"
                    (click)="cd.accept()" 
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="Cancelar"
                    [outlined]="true" 
                    [rounded]="true"
                    (click)="cd.reject()" 
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>