<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
  }
  
  //Para primeNG
  html {
    font-size: 12px;
  }
  
=======
/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-light-indigo/theme.css";
@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
>>>>>>> e6b539547a53cba9e96ad508ff8f36c25836bd4d
