<p-dialog
  header="{{ accion }} Usuario"
  [(visible)]="visible"
  (onHide)="cerrar()"
  [modal]="true"
  class="flex justify-content-center flex-wrap min-w-min md:min-w-max"
>
<div class="flex justify-content-center flex-wrap" autocomplete="off">
  <form [formGroup]="form" autocomplete="off">
    <div class="input-container min-w-min md:min-w-max">
      <p-floatLabel class="m-2">
        <input 
        id="nombres" 
        pInputText 
        type="text" 
        formControlName="nombres" 
        autocomplete="off" 
        />
        <label for="nombres">Nombre Completo</label>
      </p-floatLabel>
    </div>
    <div class="input-container min-w-min md:min-w-max">
      <p-floatLabel class="m-2">
        <input 
        id="apellidos" 
        pInputText 
        type="text" 
        formControlName="apellidos" 
        autocomplete="off" />
        <label for="apellidos">Apellido Completo</label>
      </p-floatLabel>
    </div>
    <div class="input-container min-w-min md:min-w-max">
      <p-floatLabel class="m-2">
        <input 
        id="email" 
        pInputText 
        type="email" 
        formControlName="email" 
        autocomplete="off"/>
        <label for="email">Email</label>
      </p-floatLabel>
    </div>
    <div class="input-container min-w-min md:min-w-max">
      <p-floatLabel class="m-2">
        <input 
        id="nombreUsuario" 
        pInputText 
        type="text" 
        formControlName="nombreUsuario" 
        autocomplete="off" />
        <label for="nombreUsuario">Nombre de Usuario</label>
      </p-floatLabel>
    </div>
    <div class="input-container min-w-min md:min-w-max">
      <p-floatLabel class="m-2">
        <input 
        id="clave" 
        pInputText 
        type="password" 
        formControlName="clave" 
        autocomplete="off"/>
        <label for="clave">Contraseña:</label>
      </p-floatLabel>
    </div>
    <div class="input-container m-2 min-w-min md:min-w-max">
      <label for="rol">Rol: </label>
      <p-dropdown
        id="rol"
        appendTo="body"
        placeholder="Seleccionar"
        [options]="roles"
        formControlName="rol"
      ></p-dropdown>
    </div>
    <div class="input-container m-2 min-w-min md:min-w-max">
      <p-fileUpload
        mode="advanced"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept="image/*"
        maxFileSize="1000000"
        (onSelect)="fotoSeleccionada($event)"
        [auto]="true"
        chooseLabel="Foto"
      ></p-fileUpload>
    </div>
    <p-button 
    class="flex justify-content-center flex-wrap min-w-min md:min-w-max "
    [rounded]="true"
    [label]="accion" 
    (onClick)="enviar()" />
  </form>
</div>
</p-dialog>
<p-toast></p-toast>

