<p-dialog 
header="Cambiar Contraseña"  
[(visible)]="visible" 
[modal]="true"  
[closable]="false" 
class=" w-6 " >
    <ng-template 
    pTemplate="center">
        <form 
        [formGroup]="formAjustes" 
        class="pt-5">
            <div class="flex pb-5">
                <p-floatLabel 
                class="p-2">
                    <p-password 
                    id="clave" 
                    formControlName="clave" 
                    autocomplete="off" />
                    <label 
                    for="clave"
                    >Contraseña anterior:</label>
                </p-floatLabel>
            </div>
            <div class="flex pb-5">
                <p-floatLabel 
                class="p-2">
                    <p-password 
                    id="clave" 
                    formControlName="clave" 
                    autocomplete="off" />
                    <label 
                    for="clave"
                    >Nueva contraseña:</label>
                </p-floatLabel>
            </div>
                <div class="flex pb-5">
                    <p-floatLabel 
                    class="p-2">
                        <p-password 
                        id="clave" 
                        formControlName="clave" 
                        autocomplete="off" />
                        <label 
                        for="clave"
                        >Repetir contraseña:</label>
                    </p-floatLabel>
                </div>
                
            <div 
            class="flex justify-content-center">
                <p-button 
                label="Actualizar" 
                (onClick)=" loginAjustes()" 
                [rounded]="true"
                class="p-2" />
                <p-button 
                label="Cancelar" 
                (onClick)=" closeDialog()" 
                [outlined]="true" 
                [rounded]="true" 
                class="p-2"/>
            </div>
        </form>
    </ng-template>
    
</p-dialog>

<p-toast></p-toast>

